body {
    font-family: 'Inter';
    margin: 0;
}

.layout {
    display: grid;
    grid-template-rows: 0.4fr 1fr 1fr 0.7fr;  
    grid-template-columns: 1fr 1fr;
  }
  
  .navbar {
    grid-row: 1/2;  
    grid-column: 1/3;
  }
  
  .header {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: 40px;
  }

.circle {
  background-color: #FFB5A7;
  border: #FFB5A7;
  border: 100px;
  border-radius: 100px 0px 0px 100px;
  margin-left: 50%;
  min-height: 10px;
  min-width: 10px;
  grid-row: 2/3;
  grid-column: 2/3;
}

  .menubar {
      text-align: center;
      display: flex;
      text-decoration: underline;
      font-style: italic;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .menubar li {
      background: #FEC89A;
      flex-basis: 21%;
      cursor: pointer;
      font-size: larger;
      border: #FEC89A;
      min-height: 32px;
      border-radius: 15px;
      box-sizing: border-box;
      list-style-type: none;
    }
    

    .menubar li a {
      color: black; 
      text-decoration: none;
    }
    
    .menubar li:hover {
      background-color: #F9DCC4;
      transition: all .3s ease-in-out;
    }
    
    .menubar li ul li:hover {
      background-color: #F9DCC4;
      transition: all .3s ease-in-out;
    }

    .container {
      display: grid;
      height: auto;
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr .2fr 1.5fr .2fr;
      text-align: center;
  }

  .area {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .header {
    grid-template-rows: 1/2;
    font-size: 15px;
    text-align: center;
  }

  .bookingslayout {
    display:grid;
    grid-template-rows: .2 .4fr 2fr;
    grid-template-columns: 1fr 1fr
  }

  .bookingsheader {
    grid-row: 2/3;
    grid-column: 1/3;
  }

    .FORMFATHER {
      margin: 10px;
      padding: 10px 20px;
      background: rgb(255, 181, 167);
      border: 2px solid rgb(252, 213, 206);
      border-radius: 50px;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    form p {
      font-size: 10pt;
    }
    
    
    input,button,textarea {
      width: 100%;
      border: 2px solid rgb(252, 213, 206);
      padding-top: 20px;
    }

.comments {
  padding: 10px;
}    
    
    button {
      display: block;
      text-align: center;
      font-size: 10pt;
      margin: 10px;
      padding: 17px;
      background-size: 200% auto;
      color:black;
      background-image: linear-gradient(20deg,rgb(252, 213, 206)  15%, black 50%);
      transition: all 0.5s;
      border-radius: 10px;
      margin: 0 auto;
    }

    button:hover {
      background-position: right center;
      color:rgb(252, 213, 206);
    }

    /* This is the About Us CSS start */

    .aboutlayout {
      display: grid;
      grid-template-rows: .2fr .8fr .3fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    .aboutheader {
      grid-row: 2/3;
      grid-column: 1/3;
      text-align: center;
      max-height: 800px;
      margin: 5%;
      justify-content: center;
    }

    .maddieatwork {
      background-position: center;
      height: 90%;
      width: 90%;
    }

    .aboutmaintext {
      grid-row: 3/4;
      grid-column: 1/3;
      text-align: center;
      padding-top: 7%;
      margin: 10px;
      padding: 10px 20px;
      background: rgb(255, 181, 167);
      border: 2px solid rgb(252, 213, 206);
      border-radius: 50px;
    }

    .aboutlocation {
      grid-row: 4/5;
      grid-column: 1/3;
      text-align: center;
      padding-top: 7%;
      margin: 10px;
      padding: 10px 20px;
      background: #F9DCC4;
      border: 2px solid #F9DCC4;
      border-radius: 50px;
    }

    


    /* This is the Reviews CSS start */

.reviewlayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 2fr 2fr 2fr 2fr;
  

}


    .JAX {
        display: grid;
        grid-column: 1/3;
        grid-row: 2/4; 
        grid-template-columns: 1fr 2fr;
        grid-auto-rows: 100px ;
        background-color: Blue;
        row-gap: 5px;
        column-gap: 5px;
        padding: 10px;
        
    }

    .RATE1 {
      grid-column: 1/2;
      grid-row: 1/3;
      background-color: white;
    }

    .REVIEW1 {
      grid-column: 1/2;
      grid-row: 3/7;
      background-color: white;
    }

    .FOTO1 {
      grid-column: 2/3;
      grid-row: 1/7;
      background-color: white;

    }

    .AID {
      display: grid;
      grid-column: 1/3;
      grid-row: 4/6; 
      grid-template-columns: 2fr 1fr;
      grid-auto-rows: 100px ;
      background-color: Blue;
      row-gap: 5px;
      column-gap: 5px;
      padding: 10px;
    
  
  }

  .RATE2 {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: white;
  }

  .REVIEW2 {
    grid-column: 2/3;
    grid-row: 3/7;
    background-color: white;
  }

  .FOTO2 {
    grid-column: 1/2;
    grid-row: 1/7;
    background-color: white;

  }

  
